html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

Header-background {
    background: linear-gradient(#00743F 90%, #28984700 10%) #00743F;
    background-size: 240px;
}

li {
    list-style: none
}

/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600&display=swap');*/

/*@font-face {
    font-family: 'NotoSansLight';*/ /*300*/
    /*src: url('/asset/fonts/NotoSans-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSansRegular';*/ /*400*/
    /*src: url('/asset/fonts/NotoSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSansSemiBold';*/ /*600*/
    /*src: url('/asset/fonts/NotoSans-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSansExtraLight';*/ /*200*/
    /*src: url('/asset/fonts/NotoSans-ExtraLight.ttf');
    font-weight: normal;
    font-style: normal;
}*/
